@import "reset.css";
@import "layout.css";

html {
  /* Colors */
  --Black: #000000;
  --White: #ffffff;
  --OffWhite: #f0f6ee;
  --Red100: #d71330;
  --Red80: #ff5757;
  --Red60: #eb7b7b;
  --Red40: #ffaeae;
  --Red20: #f7d2ce;
  --Green100: #4c9e7d;
  --Green80: #77b89e;
  --GreenSecondary: #acdea0;

  /* border radius */
  --BorderRadiusBig: 30px;
  --BorderRadiusSmall: 15px;

  /* box shadow */
  --BoxShadow: 0.5rem 0.5rem 0.5rem #7e7e7e25;

  scroll-behavior: smooth;
  /* set background color for all pages */
  background-color: var(--OffWhite);
}

main {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 190px;
  padding: 0 20px;
  min-height: 80vh;
}

/* Fonts */

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: var(--Black);
  text-transform: uppercase;

  padding: 2rem 1rem 1rem 1rem;
}

h2 {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  color: var(--Red100);
  text-transform: uppercase;
  padding: 0.8rem 1rem 0.2rem 1rem;
  font-weight: 500;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: var(--Black);
}

p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--Black);
  padding: 1.5rem 1rem;
  line-height: 1.5rem;
}

a {
  font-family: "Oswald", sans-serif;
  font-size: 1.7rem;
  color: var(--Black);
  text-decoration: none;
  font-weight: 600;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  color: var(--Black);
  line-height: 1.5rem;
}
