---
//@ts-nocheck
import { late } from "astro:schema";
import GalleryTab from "../components/GalleryTab.astro";
import SelectButton from "../components/SelectButton.astro";
import Layout from "../layouts/Layout.astro";

// url and key to supabase/database
const baseUrl = "https://zyxwycthnsawqveghsdr.supabase.co/rest/v1/galleri";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5eHd5Y3RobnNhd3F2ZWdoc2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzNDI1MDcsImV4cCI6MjA2MzkxODUwN30.oKnpJzXhTYqQFPO7ebhUAXa2BuuhEH7Mxzho0VghZeI";

const options = {
  headers: {
    apikey: key,
  },
};
// fetch data from api
const data = await fetch(baseUrl + "?order=year.desc", options).then((res) => {
  return res.json();
});
---

<Layout Background="variant2Mirror" Page="gallery" Title="Galleri">
  <!-- FARMAND HJÆLP -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".selector a").forEach(function (el: any) {
        el.addEventListener("click", (e: Event) => {
          const target = e.target as HTMLElement;

          document.querySelectorAll(".galleryButton").forEach(function (
            el: any,
          ) {
            console.log(el);
            el.classList.remove("active");
          });

          target.classList.add("active");
          const cup = target.dataset.cup;
          document.querySelectorAll(".galleryTab").forEach(function (el: any) {
            el.style.display = "none";
          });

          document.getElementById(cup!)!.style.display = "block";
        });
      });
    });
  </script>
  <main>
    <h1>Galleri</h1>

    <div class="pictureGrid">
      <img
        src="/gallerypage/moodPicture1.webp"
        alt="Formanden før et kast"
        id="picture1"
        draggable="false"
      />
      <img
        src="/gallerypage/moodPicture2.webp"
        alt="billede fra oven af kuglerne"
        id="picture2"
        draggable="false"
      />
      <img
        src="/gallerypage/moodPicture3.webp"
        alt="billede af området"
        id="picture3"
        draggable="false"
      />
      <img
        src="/gallerypage/moodPicture4.webp"
        alt="Billede fra pauserummet"
        id="picture4"
        draggable="false"
      />
    </div>
    <section id="galleryWinners">
      <!-- tab selectors -->
      <div class="selector">
        <!-- "galleri" tab -->
        <SelectButton Class="active" Text="Galleri" Cup="galleri" />
        <!-- "scoremester" tab -->
        <SelectButton Text="Scoremestre" Cup="scoremester" />
        <!-- "klubmester" tab -->
        <SelectButton Text="Klubmestre" Cup="klubmester" />
        <!-- "julemester" tab -->
        <SelectButton Text="Julemestre" Cup="julemester" />
      </div>

      <div id="galleri" class="galleryTab">
        <h2>Galleri</h2>
        <div class="grid">
          <ul class="gallery">
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture1.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture2.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture3.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture4.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture5.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture6.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture7.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
            <li>
              <img
                src="/gallerypage/galleri/galleryPicture8.webp"
                alt="Billedet blev ikke indlæst"
                draggable="false"
              />
            </li>
          </ul>
        </div>
      </div>

      <!-- "scoremester" tab -->
      <GalleryTab Data={data} Title="Klubmestre" Cup="klubmester" />
      <!-- "klubmester" tab -->
      <GalleryTab Data={data} Title="Scoremestre" Cup="scoremester" />
      <!-- "julemester" tab -->
      <GalleryTab Data={data} Title="Julemestre" Cup="julemester" />
    </section>
  </main>
</Layout>
<style>
  ul,
  .gallery {
    display: contents;
  }
  .pictureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: 20px;
  }
  .pictureGrid img {
    border-radius: var(--BorderRadiusSmall);
    object-fit: cover;

    height: 100%;
  }

  #picture1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #picture4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: auto auto auto;
    margin: 0 auto;
    gap: 25px;
    margin: 20px;
  }

  .gallery img {
    object-fit: cover;
    aspect-ratio: 1/1;
  }
  .selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
  li {
    list-style: none;
  }

  @media (min-width: 800px) {
    .pictureGrid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    #picture1 {
      grid-column: 1/3;
      grid-row: 1/3;
      object-fit: cover;
    }
    #picture2 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
    #picture3 {
      grid-column: 4/5;
      grid-row: 1/2;
    }

    #picture4 {
      grid-column: 3/5;
      grid-row: 2/3;
    }
  }
</style>
