---
//@ts-nocheck
import { late } from "astro:schema";
import GalleryCard from "../components/GalleryCard.astro";
import SelectButton from "../components/SelectButton.astro";
import Layout from "../layouts/Layout.astro";

const url = "https://zyxwycthnsawqveghsdr.supabase.co/rest/v1/galleri";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp5eHd5Y3RobnNhd3F2ZWdoc2RyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDgzNDI1MDcsImV4cCI6MjA2MzkxODUwN30.oKnpJzXhTYqQFPO7ebhUAXa2BuuhEH7Mxzho0VghZeI";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => {
  return res.json();
});

console.log(data);
console.log("oirjgwjio");

const formatDate = (dateString) =>
  new Date(dateString).toLocaleDateString(undefined, {
    year: "numeric",
    month: "long",
    day: "numeric",
  });
console.log(formatDate(data[0].event_date));
---

<Layout>
  <h1>Gallery</h1>
  <div class="selector">
    <SelectButton Text="Galleri" Link="kontakt.html" />
    <SelectButton Text="Scoremestre" Link="kontakt.html" />
    <SelectButton Text="Klubmestre" Link="kontakt.html" />
    <SelectButton Text="Julemestre" Link="kontakt.html" />
  </div>
  <div class="pictureGrid">
    <img src="https://cataas.com/cat" alt="instagram" id="picture1" />
    <img src="https://cataas.com/cat" alt="instagram" />
    <img src="https://cataas.com/cat" alt="instagram" />
    <img src="https://cataas.com/cat" alt="instagram" id="picture4" />
  </div>

  <div class="grid">
    <ul>
      {data.map((product) => <GalleryCard {product} />)}
    </ul>

    <div class="galleri">
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
      <img src="https://cataas.com/cat" alt="instagram" />
    </div>
  </div>
</Layout>
<style>
  ul {
    display: contents;
  }
  .pictureGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #picture1 {
    grid-column: 1/3;
    grid-row: 1/2;
    aspect-ratio: 366/245;
    object-fit: cover;
  }

  #picture4 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: auto;
    margin: 0 auto;
    gap: 25px;
  }

  .selector {
    display: flex;
    flex-wrap: wrap;
  }
</style>
