---
import RedButton from "../components/RedButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>Kontakt</h1>
  <div class="grid_3-2">
    <p id="kontaktText">
      Hvis du er interresseret I at blive medlem eller bare vil kigge forbi en
      dag, så skriv venligst en besked. Vi vender tilbage til dig med et svar
      snarest muligt. <br />
      <br />
      Vi håber at se dig når vi spiller hver onsdag. <br /> Med venlig hilsen bestyrelsen.
    </p>
    <img
      id="lillemand"
      src="public/lillemand.png"
      alt="Lillemand, vores maskot"
    />
  </div>
  <div class="grid_2-3">
    <h2>Skriv til os</h2>
    <div class="contactFormular">
      <form action="action_page.php">
        <p class="label">Navn</p>
        <!-- <label for="name">Navn</label> -->
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Skriv her..."
          required
        />
        <p class="label">E-mail</p>
        <!-- <label for="email">E-mail</label> -->
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Skriv her..."
          required
        />
        <p class="label">Besked</p>
        <!-- <label for="message">Besked</label> -->
        <textarea
          id="message"
          name="message"
          placeholder="Skriv her..."
          required></textarea>
        <RedButton id="submitButton" Text="Send besked" />
      </form>
    </div>

    <div class="contactInfo">
      <h3>Adresse</h3>
      <div class="grid_icons">
        <img
          class="icons"
          src="public/kontaktPage/location.svg"
          alt="lokation"
        />
        <p>Pibe Møllevej 7, 3400 Hillerød</p>
      </div>
      <h3>Sociale Medier</h3>
      <div class="grid_icons">
        <img
          class="icons"
          src="public/kontaktPage/instagram.svg"
          alt="instagram"
        />
        <p>Instagram</p>
      </div>
      <h2>Formand</h2>
      <p>Michael Wolff Hansen</p>
      <h3>Formand tlf.</h3>
      <div class="grid_icons">
        <img
          class="icons"
          src="public/kontaktPage/call-calling.svg"
          alt="telefon"
        />
        <p>71 78 50 40</p>
      </div>
      <h3>Formand e-mail</h3>
      <div class="grid_icons">
        <img class="icons" src="public/kontaktPage/mail.svg" alt="e-mail" />
        <p>michael.wolff@hotmail.com</p>
      </div>
    </div>
  </div>

  <!-- BESTYRRELSE??????? -->
</Layout>

<style>
  #lillemand {
    display: none;
  }
  h1 {
    padding: 2rem 2rem 0 2rem;
  }

  h3 {
    padding: 0rem 1rem;
    /* margin-bottom: -0.5rem; */
  }

  #kontaktText {
    padding: 1rem 2rem;
  }

  .grid_2-3 {
    background-color: var(--White);
    border-radius: var(--BorderRadiusBig);
    box-shadow: var(--BoxShadow);
    padding: 1rem;
    margin: 1rem 2rem;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 1rem;
    border: 0px solid var(--Black);
    border-radius: var(--BorderRadiusSmall);
    box-sizing: border-box;
    resize: vertical;
    box-shadow: inset var(--BoxShadow);
    font-family: "inter", sans-serif;
    font-size: 0.8rem;
  }

  .label {
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }

  #message {
    height: 9rem;
  }

  .contactFormular h2 {
    padding: 1rem;
  }

  .contactFormular h3 {
    padding: 0 1rem;
    margin-bottom: -0.8rem;
  }

  .grid_icons {
    display: grid;
    grid-template-columns: 2rem auto;
    margin-left: 1rem;
  }

  .icons {
    width: 2rem;
    align-self: center;
  }

  @media (min-width: 800px) {
    #lillemand {
      display: initial;
      width: 15vw;
      transform: scaleX(-1);
      position: relative;
      top: 60px;
      left: 30px;
    }

    #kontaktText {
      /* width: 50vw; */
    }

    .grid_3-2 {
      display: grid;
      grid-template-columns: 3fr 2fr;
      column-gap: 3rem;
    }

    .grid_2-3 {
      display: grid;
      grid-template-columns: 2fr 3fr;
      column-gap: 1rem;
      row-gap: 1.7rem;
      padding: 3rem;
    }

    .contactInfo {
      grid-column: 1;
      grid-row: 2;
    }

    .contactFormular {
      grid-column: 2;
      grid-row: 1 / span 2;
    }
  }
</style>
