---
const Type = Astro.props.Type;
const Id = Astro.props.Id;
const Title = Astro.props.Title;
---

<div class="dropDownContainer" id={Id}>
  <h3>{Title}</h3>
  <div class="dropDownContent">
    <slot />
  </div>
</div>

<style>
  .dropDownContainer {
    display: grid;
    grid-template-rows: 50px 1fr;
    background-color: #003b5c26;
    border-radius: 20px;
    padding: 20px;
    display: grid;
  }
  h3 {
    font-family: GT-Walsheim;
  }
  .dropDownContent {
    padding: 20px 0px;
    display: none;
  }
  .active {
    display: block;
  }
</style>
<script define:vars={{ Id }}>
  document.querySelector("#" + Id).addEventListener("click", toggleDropDown);
  function toggleDropDown() {
    document
      .querySelector("#" + Id + " .dropDownContent")
      .classList.toggle("active");
  }
</script>
