---
import WhiteButton from "./whiteButton.astro";


---
<footer>

    <img src="whiteLogo.svg" alt="Logo">
    <WhiteButton Text="Kontakt os" Link="kontakt.html" />
    
    <ul>
        <li>Hillerød Bowls Klub</li>
        <li>c/o Bent Christiansen</li>
        <li>Hermann Justvej 7</li>
        <li>3400 Hillerød</li>
    </ul>
    <ul>
        <li>CVR: 34748128</li>
        <li>Mail: bec3400@gmail.com</li>
    </ul>
    <h3>
        Sociale Medier
    </h3>
    <ul>
        <li><img src="https://cataas.com/cat" alt="instagram"> Instagram</li>
    </ul>
</footer>

<style>
footer{
    background: #77B89E;
}
</style>