---
const Link = Astro.props.Link;
const Text = Astro.props.Text;
---

<a href={Link}>
  <img class="ball" src="../../public/greenButtonBall.svg" alt="" />
  <p>
    {Text}
  </p>
</a>

<style>
  a {
    background-image: url(../../public/greenButton.svg);
    width: 285px;
    height: 146px;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .ball {
    width: 42px;
    height: 42px;
    position: relative;
    top: 150%;
    left: 0%;
  }

  a:hover p {
    color: var(--Red100);
  }
  a:hover .ball {
    animation-name: bouncing_kf;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }
  @keyframes bouncing_kf {
    0% {
    }
    100% {
      translate: 220%;
    }
  }
  p {
    z-index: 2;
    font-family: "Oswald", sans-serif;
    font-size: 1.7rem;
    color: var(--Black);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    top: -30%;
  }
</style>
