---

---

<header>
  <div id="headerLeft">
    <a href="index.html">Forside</a>
    <a href="OmSpillet">Om spillet</a>
    <a href="Galleri">Galleri</a>
  </div>
  <a href="
    index.html">
    <img src="greenLogo.svg" alt="logo" />
  </a>
  <div id="headerRight">
    <a href="Events">Events</a>
    <a id="spilMedOs" href="Kontakt">Spil med os</a>
  </div>
</header>

<style>
  /* CREATE HAMBURGER MENU FOR UNDER **1000**PX WIDE - THIS IS THE CUT OFF POINT WHERE FULL NAV BAR LOOKS SCUFFED AF */
  header {
    background-color: var(--White);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 3rem;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid var(--Black);
  }

  #headerLeft {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8rem;
  }

  #headerRight {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
  }

  img {
    width: 25vw;
    height: auto;
    justify-self: center;
  }

  a {
    font-size: 2.2vw;
  }

  #spilMedOs {
    background-color: var(--Red100);
    color: var(--White);
    font-weight: 400;
    padding: 0.5rem 1.5rem;
    border-radius: var(--BorderRadiusBig);
  }
</style>
