---

---

<header>
  <a href="index.html">Forside</a>
  <a href="OmSpillet">Om spillet</a>
  <a href="Galleri">Galleri</a>
  <a href="
    index.html">
    <img src="greenLogo.svg" alt="logo" />
  </a>
  <a href="Events">Events</a>
  <a href="Kontakt">Spil med os</a>
</header>

<style></style>
