---
const Link = Astro.props.Link;
const Text = Astro.props.Text;
---

<a href={Link}>{Text}</a>

<style>
  a {
    display: flex;
    width: 20rem;
    height: 3.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: var(--BorderRadiusBig);
    background: var(--Red100);
    color: var(--White);
    font-weight: 400;
    margin: 0.8rem 0 1.5rem 0;
    text-transform: uppercase;
    max-width: 80%;
  }

  :hover {
    background-color: var(--Green100);
    border: 2px solid var(--Green100);
    color: var(--White);
  }
</style>
