---
const Link = Astro.props.Link;
const Text = Astro.props.Text;
---

<a class="active" href={Link}>{Text}</a>

<style>
  a {
    display: flex;
    width: 300px;
    height: 60px;
    padding: 14px 79px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: var(--Corner-radius, 30px);
    border: 2px solid var(--Basics-Sort, #000);
    margin: 20px;
  }

  .active {
    background-color: aqua;
    color: pink;
  }
</style>
<script></script>
