---
const Link = Astro.props.Link;
const Text = Astro.props.Text;
---

<a class="" href={Link}>{Text}</a>

<style>
  a {
    display: flex;
    width: 20rem;
    height: 3.75rem;
    padding: 1rem 4.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: var(--BorderRadiusBig);
    border: 2px solid var(--Black);
    font-weight: 400;
    margin: 10px auto;
  }

  .active,
  a:hover {
    background-color: var(--Red100);
    color: var(--White);
    border: 2px solid var(--Red100);
  }
</style>
<script></script>
