---
const Link = Astro.props.Link;
const Text = Astro.props.Text;
---

<a href={Link}>{Text}</a>

<style>
  a {
    display: flex;
    width: 20rem;
    height: 3.75rem;

    justify-content: center;
    text-transform: uppercase;

    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
    border-radius: var(--BorderRadiusBig);
    border: 2px solid var(--Black);
    font-weight: 400;
    margin: 0.8rem 0 1.5rem 0;
  }

  :hover {
    background-color: var(--Red100);
    border: 2px solid var(--Red100);
    color: var(--White);
  }
</style>
