---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/style.css";

const Background = Astro.props.Background;
const Page = Astro.props.Page;
const Title = Astro.props.Title;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{Title} - Hillerød Bowls Klub</title>
    <!-- Cabin font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <!-- Oswald -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class={Background}>
    <Header Page={Page} />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  /* background variations */
  .variant1,
  .variant1Mirror,
  .variant2,
  .variant2Mirror {
    background-image: url("public/backgroundCurves/kurve2-mirrored.svg");
    background-position: center;
    background-repeat: repeat-y;
  }
  .variant1 {
    background-image: url("public/backgroundCurves/kurve1.svg");
  }
  .variant1Mirror {
    background-image: url("public/backgroundCurves/kurve1-mirrored.svg");
  }
  .variant2 {
    background-image: url("public/backgroundCurves/kurve2.svg");
  }
  .variant2Mirror {
    background-image: url("public/backgroundCurves/kurve2-mirrored.svg");
  }
</style>
